@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@200;500&family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}
body {
}
.backtotop {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    z-index: 1;
    margin: 5px;
}
.logo {
    margin-left: 50px;
    color: white;
}
.main-header {
    background-color: orangered;
    background-size: cover;
    background-blend-mode: multiply;
    
}
.main-nav {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
    font-family: nunito;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;
}
.nav a {
    text-decoration: none;
    color: white;
    transition:all 0.4s;
}
#navbar a{
    padding:20px;
}
.nav a:hover {
    color:#FF4500;
    border-radius: 10px;
    background-color:#ffffff ;
}
.main {
    position:relative;
}
.hero {
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;

}
.hero p {
    font-family: 'Nunito', sans-serif;
}
.hero-title{
    font-size: 7rem;
    font-family: 'Qwigley', cursive;
    letter-spacing: 5px;
}
.bg {
    width: 100%;
    height: 100vh;
}
.blur {
    margin-top: -2px;
    height: 100vh;
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.447);
}
.w {
    font-size: 10rem;
    color:#FF4500;
}
.picture {
    margin: 20px;
    position:relative;
}
.picture img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.picture:hover {
    background-color: #ff1500;
    transition: all 0.4s;
    transform:scale(1.2);
}
.caption:hover{
    color: #ff1500;
}
.section-class {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 40px;
}
.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.caption {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
     color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
::selection {
    background: rgb(249, 109, 58);
    color: white;
}
.description {
    margin-left: 300px;
    margin-right:300px;
    margin-top:5px;
    margin-bottom: 30px;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
}
.c {
    font-size: 22px;
    color:#FF4500;
}
footer {
    background-color: #000000;
    padding:20px;
    text-align: center;
}
.footer-container {
    max-width: 960px;
    margin:0 auto;
}
footer p {
    font-size: 14px;
    color: white;
    margin: 0;
  }
.loc { 
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    background-color:#FF4500;
 }
 .footer {
    display: flex;
    justify-content: center;
    color: white;
 }
 .footer ul {
    display: flex;
    list-style: none;
 }
 .u {
    padding-top: 10px;
    font-size: 24px;
    color: white;
}
.loc p {
    color: white;

}
.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.testimonial {
    width: 30%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #936464;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.testimonial img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.testimonial p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .testimonial h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .testimonial h4 {
    font-size: 14px;
    color: #999;
  }
  .footer li:hover {
    position: relative;
    top: -4px;
  }
  .backtotop:hover {
    width: 51px;
  }
  @media screen and (max-width: 768px) {
        .hero-title{
        font-size: 7rem;
        font-family: 'Qwigley', cursive;
        margin-right: 80px;
        margin-top: -10%;
        width: auto;
        margin:10px 20px;
          }
         .w {
        font-size: 10rem;
        color:#FF4500;
           }
    
        .c {
        font-size: 22px;
        color:#FF4500;
        text-align: center;
          }
        .hero p {
            font-family: 'Nunito', sans-serif;
            margin:10px 20px;
        }
    .main-nav {
        display: flex;
        justify-content: center;
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 3;
        font-family: nunito;
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin:0;
    }
    .nav a {
        text-decoration: none;
        color: white;
        transition:all 0.4s;
    }
    #navbar a{
        padding:7px;
    }
    .nav a:hover {
        color:#FF4500;
        border-radius: 10px;
        background-color:#ffffff ;
    
    }
    .section-class {
           margin:10px 20px;
           font-size: 30px;
        }
    .album {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:10px 0;
    }
    .testimonial-container {
        margin-right: 20px;
        flex-direction: column;
    }
    .testimonial {
        width: 100%;
    }
    .bg {
        width: 100%;
        height: 100vh;
        }
    .blur {
        margin-top: -2px;
        height: 100vh;
        width:100%;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.447);
        }
}
@media screen and (max-width: 1000px) {
    .description {
        margin:10px 20px;
    }
}
@media screen and (max-width: 1400px) {
    .description {
        margin:10px 100px;
    }
}
@media screen and (max-width: 450px) {
    .logo {
        display: none;
    }
}